<li claas="card card-small">

    <h4>etudiant Nom:[  {{ nomEtu }} ] Prenom = {{ prenomEtu }} Commentaires: {{commentaires}} Status:
        <div *ngIf="!statuAbs">Present</div>  <div *ngIf="statuAbs">Absent!!</div>  </h4>

</li>
